[Unit]
Description=Automatic input-remapper preset manager for KDE Wayland systems with access to kdotool 
PartOf=graphical-session.target
After=input-remapper.service

[Service]
Environment=DISPLAY=:0
ExecStart=%h/.local/bin/input-remapper-kdeautopresets

[Install]
WantedBy=default.target
